asyncio
asgiref
fastapi>=0.68.0
uvicorn>=0.15.0
psycopg2-binary
asyncpg
tortoise-orm>=0.17.8
aiosqlite>=0.17.0 
redis>=4.5.5
celery>=5.3.1
celery[redis]>=5.3.1
pillow
python-multipart
python-dotenv>=1.0.1  
python-jose[cryptography]
insightface
opencv-python
numpy
passlib